<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Core configuration -->
    <add key="expression.type" value="Seovic.Core.Expression.SpelExpression, Coherence.Tools" />
    <add key="extractor.type"  value="Seovic.Core.Extractor.ExpressionExtractor, Coherence.Tools" />
    <add key="updater.type"    value="Seovic.Core.Updater.ExpressionUpdater, Coherence.Tools" />
    <add key="condition.type"  value="Seovic.Core.Condition.ExpressionCondition, Coherence.Tools" />
    <add key="script.language" value="javascript" />

    <!-- SequenceGenerator configuration -->
    <add key="sequence.generator.type" value="Seovic.Coherence.Identity.CoherenceSequenceGenerator" />
    <add key="sequence.cache.name" value="sequences" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>