<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Register - CoherentBank Sample Application</title>
	<link rel="stylesheet" type="text/css" href="../ext/resources/css/ext-all.css"/>
	<link rel="stylesheet" type="text/css" href="../ui/login.css"/>
	<style type="text/css">
		#container { width: 360px }
	</style>
	<script type="text/javascript" src="../ext/adapter/ext/ext-base.js"></script>
	<script type="text/javascript" src="../ext/ext-all.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script type="text/javascript" src="../js/register.js"></script>
</head>
<body>
	<div id="container"></div>
</body>
</html>